body {
      margin: 0;
      font-family: Arial, sans-serif;
    }

    .hero {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 60px 8%;
      background: linear-gradient(to bottom, #fdffff, #ffffff);
      color: #333;
      min-height: 100vh;
      box-sizing: border-box;
    }

    .hero-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 20px; 
    }

    /* Logo */
    .hero-left img.logo {
     justify-content:center;
     transform: translate(130px, 10px);
     width: 250px;
    }

    .hero-left h2 {
      font-size: 28px;   
      font-weight: 650px;
      margin: 0 0 30px;
      letter-spacing: 2px;
      text-align: center;
      justify-content: center;
      color: #111;
    }
    .hero-left p {
      font-size: 18px;
      letter-spacing: 2px;
      text-align: center;
      position: relative;
      top: -25px;
      color: #444;
      margin: 0;
    }

    .store-buttons {
      display: flex;
      gap: 20px;
      margin-top: 4px;
      position: relative;
      left: 40px;
    }
    .store-buttons img {
      width: 180px;  
      height: auto;
      cursor: pointer;
      transition: transform 0.3s ease;
    }
    .store-buttons img:hover {
      transform: scale(1.05);
    }
  
    .hero-right {
      flex: 1;
      display: flex;
      justify-content: flex-end;
    }
    .hero-right img {
      width: 100%;
      max-width: 750px; 
    }


    /*///////lets space//////*/
  



    .section {
      margin: 10px 0;
    }

    .flex-1 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
     .flex-1 img {
      width: 400px;
      padding-top: 20px;
    }
    .text-1{
       width: 100%;
      max-width: 350px;
      position: relative;
      margin-bottom: 140px;
    }
   
    .text-1, h2 {
      text-align: center;
       font-weight: 650px;
      font-size: 25px;
      letter-spacing: 2px;
      
    }
    .text-1, p{
      text-align: center;
      font-size: 18px;
      letter-spacing: 1px;

    }
    .flex-2 {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
     .text-2{
      width: 100%;
      max-width: 350px;
      position: relative;
    }
    .text-2, h2 {
      text-align: center;
      font-weight: 650px;
      font-size: 25px;
      letter-spacing: 2px;
      margin-top: 80px;
    
    }
    .text-2, p{
      text-align: center;
      font-size: 18px;
      letter-spacing: 1px;
    }
    .flex-2 img {
      width: 400px;
      margin-top: 10%;
      padding: 80px;
      margin-left: 20px;
      margin-top: 50px;
      

    }


  
/* Section-3 bottom */

.section-3{
  display: flex;
}
    .section-3-text {
      flex: 1;
      max-width: 300px;
      margin-top: 10px;
      text-align: center;
      margin-left: 110px;
    }

    .section-3-text h3 {
      font-size: 28px;
      font-weight: bold;
      padding: 1px;
      text-transform: uppercase;
      text-align: center;
    }

    .section-3-text p {
      font-size: 20px;
      margin-bottom: 5px;
      letter-spacing: 0.5px;
      text-align: center;
      color: #555;
    }


    /* vector img*/

    .vector-logo img
  {
    width: 600px;
    justify-content: center;
    margin-top: 80px;
  }



    /* Section Images */
    .section-3-img{
      display: flex;
      justify-content: center;
      width: 800px;
      height: 600px;
      padding: 0%;
    }





    /* Footer */
    footer {
      background: #fcfbfb;
      text-align: center;
      padding: 90px 20px;
      font-size: 20px;
    }

    footer .app-buttons img {
      width: 170px;
      margin: 10px;
    }

    footer a {
      color: #1a73e8;
      text-decoration: none;
    }

    footer .logo {
      margin-top: 20px;
      width: 80px;
    }
    

 